.button {
  background-color: #d5b5ff;
  color: #fff;
  border: 3px solid #bc66ff;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.1s linear;
}
.button:hover {
  background-color: #fff;
  transform: scale(1.1);
  color: #bc66ff;
}
